<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Panel de Empleado{% endblock %}</title>
</head>
<body>
    <div class="navbar">
        <a href="{% url 'registro_cliente' %}">Registrar Cliente</a>
        <a href="{% url 'registro_encomienda' %}">Registrar Encomienda</a>
        <a href="{% url 'listado_clientes' %}">Listado Clientes</a>
        <a href="{% url 'listado_encomiendas' %}">Listado Encomiendas</a>
        <a href="{% url 'listado_reclamos' %}">Listado Reclamos</a>
        <a href="{% url 'control_envios' %}">Control de envíos</a> <!-- Nuevo enlace -->
        <a href="{% url 'index_cliente' %}">Rastrea tu encomienda</a>
        
        <div class="navbar-right">
            {% if empleado %}
                <p>Usuario: {{ empleado.nombres }} {{ empleado.apellidos }}</p>
            {% else %}
                <p>Usuario: Anónimo</p>
            {% endif %}
            <a href="{% url 'logout' %}">Cerrar Sesión</a>
        </div>
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>

