{% extends 'layout/base_cliente.html' %}

{% block title %}Rastrea tu encomienda{% endblock %}

{% block content %}
    <h1>Rastrea tu encomienda</h1>

    <form method="GET">
        <label for="encomienda-id">Encomienda ID:</label>
        <input type="text" id="encomienda-id" name="encomienda_id" placeholder="Ej: EE095575123">
        <button type="submit">Buscar</button>
    </form>

    {% if encomienda %}
        <h2>Detalles de la encomienda:</h2>
        <p>Encomienda en terminal: 08/10/2024</p>
        <p>Encomienda salió de terminal: 09/10/2024</p>
        <p>Encomienda llegó a terminal destino: 10/10/2024</p>
        <p>Encomienda lista para recoger: 10/10/2024</p>
        <p>Encomienda entregada: 11/10/2024</p>
    {% else %}
        <p>No se encontró ninguna encomienda con ese ID.</p>
    {% endif %}
{% endblock %}
