{% extends 'layout/base_empleado.html' %}

{% block title %}Listado de Encomiendas{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Listado de Encomiendas</h1>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>ID</th>
                <th>Descripción</th>
                <th>Remitente</th>
                <th>Destinatario</th>
                <th>Estado</th> <!-- Estado actual de la encomienda -->
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for encomienda in encomiendas %}
            <tr>
                <td>{{ encomienda.id }}</td>
                <td>{{ encomienda.descripcion }}</td>
                <td>{{ encomienda.remitente.nombres }} {{ encomienda.remitente.apellidos }}</td>
                <td>{{ encomienda.destinatario.nombres }} {{ encomienda.destinatario.apellidos }}</td>
                <td>{{ encomienda.estado }}</td> <!-- Muestra el estado actualizado -->
                <td>
                    <a href="{% url 'actualizar_estado_form' encomienda.id %}">
                        Actualizar Estado
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
