{% extends "layout/base_empleado.html" %}

{% block title %}Listado de Encomiendas{% endblock %}

{% block content %}
<div class="encomiendas-list-container">
    <h1 class="encomiendas-list-title">
        <i class="fas fa-box"></i> Listado de Encomiendas
    </h1>

    <table class="encomiendas-table">
        <thead>
            <tr>
                <th><i class="fas fa-barcode"></i> ID</th>
                <th><i class="fas fa-file-alt"></i> Descripción</th>
                <th><i class="fas fa-user"></i> Remitente</th>
                <th><i class="fas fa-user"></i> Destinatario</th>
                <th><i class="fas fa-check-circle"></i> Estado</th>
                <th><i class="fas fa-cog"></i> Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for encomienda in encomiendas %}
            <tr>
                <td>{{ encomienda.pk_encomienda_id }}</td>
                <td>{{ encomienda.descripcion }}</td>
                <td>{{ encomienda.fk_remitente.nombres }} {{ encomienda.fk_remitente.apellidos }}</td>
                <td>{{ encomienda.fk_destinatario.nombres }} {{ encomienda.fk_destinatario.apellidos }}</td>
                <td>{{ encomienda.estado }}</td>
                <td>
                    <a href="{% url 'actualizar_estado_form' encomienda.pk_encomienda_id %}" class="btn-accion">
                        <i class="fas fa-edit"></i> Actualizar Estado
                    </a>
                    &nbsp;&nbsp;
                    <a href="{% url 'ver_detalles_encomienda' encomienda.pk_encomienda_id %}" class="btn-accion">
                        <i class="fas fa-eye"></i>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}