{% extends 'layout/base_cliente.html' %}

{% block title %}Nosotros{% endblock %}

{% block content %}
    <h1>Nosotros</h1>
    <p>Somos EasyTrack, una empresa dedicada al envío y rastreo de encomiendas con el objetivo de brindar seguridad, rapidez y confianza a nuestros clientes.</p>
    
    <h2>Misión</h2>
    <p>Nuestra misión es ofrecer un servicio de encomiendas confiable y eficiente, asegurando la tranquilidad de nuestros clientes al entregar sus bienes de forma segura y a tiempo.</p>
    
    <h2>Visión</h2>
    <p>Nuestra visión es convertirnos en la empresa líder en el sector de encomiendas, destacando por nuestra innovación, confiabilidad y excelente servicio al cliente.</p>
{% endblock %}
