{% extends 'layout/base_cliente.html' %}

{% block title %}Reclamos{% endblock %}

{% block content %}
    <h1>Reclamos</h1>
    <p>Si tienes algún problema con una encomienda, por favor llena el siguiente formulario para presentar un reclamo.</p>

    <form action="{% url 'enviar_reclamo' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit">Enviar Reclamo</button>
    </form>

    {% if messages %}
        <div style="color: green; margin-top: 10px;">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
